* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
  }
  
  #header .header {
    min-height: 8vh;
    background-color: midnightblue;
  }
  
  #header h1 {
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
  }
  
  #header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
  }
  
  #header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: midnightblue;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
  }
  
  #header .nav-list ul.active {
    left: 0;
  }
  
  #header .nav-list ul a {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
  }
  
  #header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
  }
  
  #header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
  }
  
  #header .hamburger .bar::after,
  #header .hamburger .bar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
  }
  
  #header .hamburger .bar::after {
    top: 8px;
  }
  
  #header .hamburger .bar::before {
    bottom: 8px;
  }
  
  #header .hamburger.active .bar::before {
    bottom: 0;
  }
  
  #header .hamburger.active .bar::after {
    top: 0;
  }
  
  #header .cta {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-left: 0;
    color: peachpuff;
    border: 1px solid peachpuff;
    border-radius: 5px;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    background-color: peachpuff;
  }
  
  @media only screen and (min-width: 1200px) {
    #header .hamburger {
      display: none;
    }
  
    #header .nav-list ul {
      position: initial;
      display: block;
      height: auto;
      width: fit-content;
      background-color: transparent;
    }
  
    #header .nav-list ul li {
      display: inline-block;
    }
  
    #header .nav-list ul li a {
      font-size: 2rem;
    }
  
    #header .nav-list ul a:after {
      display: none;
    }
  
    #hero .hero{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 70vh;
    }
    
    #hero h1{
      font-size:4rem;
      font-weight: bold;
      color:grey;
    }
    
    #hero h2{
      font-size:3rem;
      font-weight: bold;
      line-height: 1rem;
      color:blue;
    }
  
  #hero .cta {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: peachpuff;
    font-size: 13px;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    width: 150px;
    text-align: center;
    text-transform: none;
    border: 1px solid peachpuff;
    transition: 0.3s ease;
    margin-bottom: 5px;
  }
  
  #hero .cta:hover {
    color: white;
    background-color: peachpuff;
  }
  
  
    #partner h3{
      font-size:2.5rem;
      font-weight: bold;
      color:blue;
    }
    
    #partner h4{
      font-size:1.8rem;
      font-weight: bold;
      line-height: 0.1rem;
      color:black;
    }
    
  #partner .partner{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 70vh;
    }
    
    
  
    #partner .partner-image{
      flex-direction: column;
      border-right: 1px solid lightgray;
      margin: 10px 0;
      padding: 2%;
    }
  
  #third third {
    height: 50vh;
    align-items: left;
    font-weight: bold;
    text-align: left;
  }
  
  #third .col-left {
    margin-top: 10px;
    text-align: justify;
    width: 1300px;
    height: 400px;
    font-size: 2.5rem;
    color: #66727c;
  }
  
  #third .col-left p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    line-height: 4rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    width: 1300px;
    margin: 0 auto;
  }
  
  #third .col-left .cta {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color:peachpuff;
    color: white;
    font-size: 13px;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    width: 150px;
    text-align: center;
    text-transform: none;
    border: 1px solid peachpuff;
    transition: 0.3s ease;
    margin-bottom: 5px;
  }
  
  #third .col-left .cta:hover {
    color: white;
    background-color: red;
  }
  
    #forth .forth {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
    
  #forth .forth-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:2.5rem;
    color:blue;
  }
  
  #forth .forth-items {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
    #forth .forth-item{
      font-size:1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 100px 50px;
      margin: -50px auto;
      width: 400px;
      line-height: .5rem;
    }
    
  #fifth .fifth {
    height: 50vh;
    align-items: left;
    font-weight: bold;
    text-align: left;
  }
    
    #fifth .fifth-top{
    margin-top: 10px;
    text-align: justify;
    width: 1300px;
    height: 400px;
    font-size: 2rem;
    color: peachpuff;
    }
  
  #fifth p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 4rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    width: 1300px;
    margin: 0 auto;
    color:black;
  }
  
  
    #sixth .sixth{
      flex-direction:row;
      text-align: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 100px 20px;
    }
    
    #sixth .col-left{
      width: 500px;
      height: 360px;
    }
    
#sixth .col-right{
     width: 500px;
  }
    
    #sixth .col-right h2{
     font-size: 3rem;
     font-weight: 400px;
     color: blue;
     margin-bottom: 30px;
     text-transform: uppercase;
     text-align: left;
     line-height: 2.5rem;
    }
    
    #sixth .col-right p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    width: 610px;
    margin: 0 auto;
    text-align: left;
  }
    
    
    #seventh .seventh{
      display: flex;
      align-items: center;
      text-align: center;
      max-width: 1500px;
      margin: 0 auto;
      padding: 100px 0;
    }
    
    
   #seventh .seventh-left{
    height: 100vh;
    align-items: left;
    font-weight: bold;
     text-align: left;
    }
    
    #seventh seventh-left{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      width: 600px;
      height: 50vh;
      align-items: left;
      font-weight: bold;
      text-align: left;
    }
    
   #seventh .seventh-right{
      width: 900px;
      height: 360px;
    } 
    
    #seventh h2{
     font-size: 2.5rem;
     font-weight: 400px;
     color: blue;
     margin-bottom: 30px;
     text-transform: uppercase;
     text-align: left;
     line-height: 2.5rem;
    }
    
    #seventh .side-bar{
      flex-basis: 80%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding:25px;
      border-radius: 10px;
      border: 5px solid grey;
      margin: 15px 5px;
    }
    
    #FAQ .FAQ{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 80vh;
    }
    
    #FAQ h2{
      font-size:2.5rem;
      font-weight: bold;
      color:blue;
      margin-bottom:40px;
    }
    
    #FAQ P{
      font-size:1rem;
      font-weight: bold;
      line-height: 0.1rem;
      color:black;
      line-height: 2rem;
      margin-top:20px;
    } 
    
    #feedback .feedback{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 80vh;
    }
    
#feedback  h2{
      font-size:2.5rem;
      font-weight: bold;
      color:blue;
      margin-bottom:40px;
    }

#footer .footer {
    background: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 8vh;
  }
  
  #footer a {
    display: flex;
    flex-direction: column;
  }
  
  #footer .footer-item ul {
    list-style: none;
  }